<main>
    <h1>Ok, {{validToken.user.first_name}}. Let´s reset your password</h1>
    <br>
    <form action="/api/session/restablishpassword" method="POST">
        <div>
            <label>New password</label>
            <input name="password" type="password" id="pass">
        </div>
        <div>
            <label>Reenter your new password please</label>
            <input name="reenteredPassword" type="password" id="repass">
        </div>
        <input name="token" type="hidden" class="d-none" value={{token}}>
        <small id="passDontMatchMsg" class="d-none">Passwords do not match</small>
        <button type="submit" id="resetBtn"> Reset Password </button>

    </form>
</main>

<script>
    const passInput = document.getElementById("pass");
    const repassInput = document.getElementById("repass");
    const passwordMismatchMsg = document.getElementById("passDontMatchMsg");
    const resetBtn = document.getElementById("resetBtn");

    repassInput.addEventListener("input", () => {
        const password = passInput.value
        const repassword = repassInput.value

        if (password !== repassword) {
            passwordMismatchMsg.classList.remove("d-none")
            passwordMismatchMsg.classList.add("d-block")
            resetBtn.disabled = true 
        } else {
            passwordMismatchMsg.classList.remove("d-inline")
            passwordMismatchMsg.classList.add("d-none")
            resetBtn.disabled = false 
        }
    })
</script>

