
<main>
    <h1>Restablish Password</h1>
    <p>An email will be sent to your mail address with a link that you can access in order to set a new password to your account. This link will only be accessible for 1 hour.</p>
    <p></p>
    <form action="/api/session/mailpassword" method="POST">
        <div>
            <label>Email</label>
            <input name="email" type="email" />
        </div>
        <button type="submit"> Send </button>
    </form>
</main>
