<div class="container">
    <h1 class="mt-5">Escribe el correo con el que est치s registrado</h1>

    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control mb-3" name="email" placeholder="Escribe tu email con el que est치s registrado" id="userEmailRecover">

    <button id="sendEmail" class="btn btn-primary">Enviar</button>

    <ul class="mt-3">
        <li><a href="/api/session/login">Volver a inicio de sesi칩n</a></li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const emailUser = document.getElementById("userEmailRecover");
    const sendEmail = document.getElementById("sendEmail");

    sendEmail.addEventListener('click', async (e) => {
        Swal.fire({
            icon: 'success',
            title: 'Correo de recuperaci칩n enviado',
            position: 'top-end',
            showConfirmButton: false,
            toast: true,
            timer: 1000,
            background: 'black',
            color: "orange"
        });

        await fetch(`/api/session/foundEmailUser/${emailUser.value}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        });
    });
</script>